{% extends 'base.html' %}
{% block content %}
    {% if message %}
        <h2><p>{{message}} </p></h2>
    {% endif %}
    {% if follows %}
        <p>vous suivez:</p>
        {% for follow in follows %}
            <p><strong>{{ follow.followed_user }}</strong> ne plus suivre : <button><a href="{% url 'del_follower' follow.followed_user.id %}">Cliquer ici</a></button></p>
        {% endfor %}
        <p>vous suivez {{count}} utilisateurs </p>
    {% endif %}
    <h3>Sélectionner un utilisateur</h3>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >Confirmer</button>
    </form>
{% endblock content %}

<button></button>