{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/follow.css' %}">
{% if message %}
    <h2 id="message"><p>{{message}} </p></h2>
{% endif %}
<div id="follow_block">
    <p><h3>Suivre d'aures utilisateurs</h3></p>
    <form id="form" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" id="submit">Envoyer</button>
    </form>
    <p><h3>Abonnements</h3></p>
    {% if follows %}
        {% for follow in follows %}
            <div id="abonnements">
                <p id="new"><strong>{{ follow.followed_user }}</strong></p>
                <a id="cancel" href="{% url 'del_follower' follow.followed_user.id %}">Désobonner</a>
            </div>
        {% endfor %}
        <p>vous suivez {{count}} utilisateurs </p>
    {% else %}
        <p> Vous ne suivez personne </p>
    {% endif %}
    <p><h3>Abonnés</h3></p>
    {% if follows_me %}
        {% for follow_me in follows_me %}
            <p id="follow_me"><strong>{{ follow_me }}</strong></p>
        {% endfor %}
    {% endif %}
</div>

{% endblock content %}