{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'review/home/styles.css' %}">
"HOME"
<p><h3>Mon flux:</h3></p>
{% for my_f in my_flux %}
{% if my_f.content_type == 'TICKET' %}
{% include 'ticket/ticket.html' with ticket=my_f %}
{% elif my_f.content_type == 'REVIEW' %}
{% include 'review/review.html' with review=my_f %}
{% endif %}
{% endfor %}  
<p><h3>les autres posts du site:</h3></p>
{% for other in others %}
{% if other.content_type == 'TICKET' %}
{% include 'ticket/ticket.html' with ticket=other %}
{% elif other.content_type == 'REVIEW' %}
{% include 'review/review.html' with review=other %}
{% endif %}
{% endfor %} 
{% endblock content %}