{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div id="main_block">
    <div id="block_left">
        <p><h2>Inscrivez-vous maintenant</h2></p>
        <a href="{% url 'signup' %}"><button>S'inscrire</button></a>
    </div>
    <div id="block_right">
        <h2>Connectez-vous</h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" >Se connecter</button>
        </form>
    </div>
</div>
{% endblock content %}
