body{
    background-color: rgb(208, 184, 231);
}

div.main {
    display: block;
    border: 1px rgb(0, 0, 0) solid;  
}

h3#title {
    text-align: center;
}

input#id_title {
    display: block;
    border: 1px rgb(0, 0, 0) solid;
    width: 100%;
}

textarea#id_description {
    display: block;
    border: 1px rgb(0, 0, 0) solid;
    width: 100%;
}

button#submit {
    display: block;    
    margin-left: 90%;
}