{% load static %}
<link rel="stylesheet" href="{% static 'css/ticket.css' %}">
<div id="block_ticket">
    <p>{{ ticket.title }}</p>
    <h5><p>{{ ticket.date_created}}</p></h5>
    <p>Ticket de {{ ticket.author }}</p>
    <p>{{ ticket.description}}</p>    
    <p>{% if ticket.image %}</p>    
            <img src="{{ ticket.image.url }}">
        {% endif %}
        <p><button><a href="{% url 'review' ticket.id %}">Faire une critique du ticket</a></button></p>  
        {% if ticket.author == request.user %}
            <p><button><a href="{% url 'edit_ticket' ticket.id %}">Modifier le ticket</a></button></p>
        {% endif %}
</div>

